
<div class="text-center">

    <h2>Tem certeza que deseja apagar o Pet (Guto Davi)?</h2>
</div>
<div class="d-grid gap-2">
    <a role="button" class="btn btn-primary" asp-controller="Pet" asp-action="Apagar">Confirmar</a>
    <a role="button" class="btn btn-danger" asp-controller="Pet" asp-action="Index">Cancelar</a>
</div>
